<div class="row">
    <div class="col-12 mt-3 pt-1 pb-1 d-flex justify-content-around">
        <span class="text-bold">id</span>
        <span class="text-bold">name</span>
        <span class="text-bold">email</span>
        <span class="text-bold">address</span>
        <span class="text-bold">active</span>
    </div>
</div>
<div class="row">
    <div class="col-12 mt-1 data-list-row">
        <div *ngFor="let row of dataList">
            <app-data-row [dataRow]="row" 
                (selectClick)="onSelectButtonClick(row)"
                (updateClick)="onUpdateButtonClick(row)" 
                (deleteClick)="onDeleteButtonClick(row)">
            </app-data-row>
        </div>
    </div>
</div>